.main-background {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.top-wapper {
    position: relative;
    width: 100%;
    height: 25%;
}

.body-wapper {
    position: relative;
    width: 100%;
    height: 75%;
}

.left-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.left-wapper img {
    max-width: 100%;
}

.draggable-boundary{
    width: 100%;
    height: 810px;
    margin-left: 15px;
    margin-right: -15px;
    padding-left: 0px;
}