.load_img {
  position: relative;
  /* margin-left: -103px; */
  /* margin-top: -10px; */
  width: 100%;
  z-index: -100;
}

.timer {
  font-size: 80px;
  text-shadow: 3px 4px 3px #333333;
  color: #FFFFFF;
  width: 98%;
  text-align: center;
  margin-top: -193px;
}

.timer_style {
  font-size: 80px;
  text-shadow: 3px 4px 3px #333333;
  color: #F00;
  width: 98%;
  text-align: center;
  margin-top: -193px;
}
